*{
    margin: 0;
    padding: 0;
}

/* First section*/
.points{
    height: 50vh;
    background-color:#207561;
}

.points img{
    float: right;
}

/*Second section*/
.store{
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.tekstboks{
    display:block;
}


/*Third section*/

.social{
    height: 50vh;
    background-color:#a0cc78;
}

.social img{
    float: right
    ;
}
