.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin: 6rem auto 0 auto;

    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
}

.head-text h1{
    margin: 0;
    color: #357376;
}

.scroll-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;

    scroll-behavior: smooth;

    scroll-snap-type: x proximity; 
    scroll-snap-type: proximity; 
    -ms-scroll-snap-type: proximity; 
    -webkit-scroll-snap-type: proximity; 
    -webkit-overflow-scrolling: touch;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    z-index: 6;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    scroll-snap-align: center; 
    
}

.scroll-wrap::-webkit-scrollbar{
    display: none;
}

.slide-img img{
    height: 40vh;
}


.slide-text{
    width: 60vw;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.slide-text h2{
    text-align: center;
    margin: 0;
}

.next{
    position: absolute;
    top: 30vh;
    right: 10%;
}

.prev{
    position: absolute;
    top: 30vh;
    left: 10%;
}

.next, .prev{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}

.m-header{
    display: block;
}

.slide-text h2{
    display: none;
}

footer{
    bottom: -50px;

}


@media screen and (min-width: 900px){
    .push{
        height: 70px;
    }

    .m-header{
        display: none;
    }
    
    .slide-text h2{
        display: block;
    }

    .scroll-wrap{
        scroll-snap-type: proximity;
        scroll-snap-type: x mandatory;
    }
    
    .slide{
        width: 50vw;
        flex-direction: row;
        padding: 0 25vw;
        justify-content: center;
    }

    .slide-img{
        margin: 0;
    }

    .slide-text{
        width: 20vw;
        max-width: 20vw;

        margin-left: 5rem;
        font-size: 20px;
        align-items: flex-start;
    }

    .slide-img img{
        height: 70vh;
    }

    .next, .prev{
        top: 40vh;
        font-size: 30px;
    }

    .trekant{
        height: 15vw;
    }
    .trekant1{
        height: 15vw;
    }
    footer{
        bottom: 0;

    }

}

@media screen and (min-width: 600px){
    .next:hover, .prev:hover{
        transform: scale(1.5);
        color: #da4302;
    }

}

.trekant {
    width: 100%;
    height: 20vw;
    position: absolute;
    max-height: 20vw;
    left: 0;
    top: -20vw;
    vertical-align: top;
}
.trekant1 {
    width: 100%;
    position: absolute;
    height: 20vw;
    max-height: 20vw;
    top: -20vw;
    left: 0;
    vertical-align: top;
}