@keyframes pilpilnext{
    from{
        transform: translateX(-6px);
    }
    to{
        transform: translateX(3px);
    }
}

@keyframes pilpilprev {
    from{
        transform: translateX(-3px);
    }
    to{
        transform: translateX(6px);
    }
}

/*Slides*/
.styleBox{
    position: absolute;
    bottom: -5vh;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #357376;
    height: 70px;
    width: 100%;
    transition: height 250ms ease-in-out;
}
.styleBox2{
    position: absolute;
    bottom: -5vh;
    left: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: #6ba8a9;
    height: 50px;
    width: 100%;
    transition: height 250ms ease-in-out;
}

.push-app{
    width: 100%;
    height: 100vh;
}

input[type="radio"]{
    display: none;
}


.slide{
    position: absolute;
    top: 80px;
    left: 10%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    z-index: 2;
}

.slide-img{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.slide-img img{
    height: 50vh;
}

.slide-text{
    width: 100%;

    align-self: center;
    justify-self: center;
}

.slide-text h2{
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
}

.slide-text p{
    font-size: 18px;
    margin-left: 1rem;
}


.pushApp{
    height: 5vh;
}


@media screen and (min-width: 800px){
    .slide{
        width: 50%;
        left: 25%;

        margin: 0 auto;

        display: flex;
        flex-direction: row;
    }

    .slide-text{
        align-self: center;
    }

    .slide-img img{
        height: 72vh;
    }

    .slide-text h2{
        font-size: 32px;
        text-align: center;
    }
    
    .slide-text p{
        font-size: 22px;
        margin-left: 1rem;
    }

    .styleBox{
        bottom: 0;
        height: 300px
    }
    .styleBox2{
        bottom: 0;
        height: 200px
    }
    .pushApp{
        height: 0;
    }
}
/*Slides*/

/*Arrows*/
.next-slide label{
    position: absolute;
    top: 35%;
    right: 5%;
    display: none;

    font-family: "Computer Modern";

    padding-right: 6px;
    padding-left: 9.95px;
    padding-bottom: 3.8px;
    padding-top: 3px;

    font-weight: bold;

    border: 1px solid black;
    border-radius: 50%;

    transform: scale(1.2);
    transition: transform 200ms ease-in-out;

    cursor: pointer;
}

.prev-slide label{
    position: absolute;
    top: 35%;
    left: 5%;
    display: none;

    font-family: "Computer Modern";

    padding-left: 6px;
    padding-right: 9.95px;
    padding-bottom: 3.8px;
    padding-top: 3px;

    font-weight: bold;

    border: 1px solid black;
    border-radius: 50%;

    transform: scale(1.2);
    transition: transform 150ms ease-in-out;

    cursor: pointer;
}

.next-slide label div{
    transform: translateX(0px);
}

@media screen and (min-width: 800px){
    .next-slide label{
        top: 40%;
        right: 10%;
    }

    .prev-slide label{
        top: 40%;
        left: 10%;
    }
}

/*Arrows*/

/*Show*/
/*slide1*/
#slide1:checked ~ .slide1{
    opacity: 1;
}
#slide1:checked ~ .next-slide .next2{
    display: block;
}
#slide1:checked ~ .prev-slide .prev3{
    display: block;
}
/*slide1*/
/*slide2*/
#slide2:checked ~ .slide2{
   opacity: 1;
}
#slide2:checked ~ .next-slide .next3{
    display: block;
}
#slide2:checked ~ .prev-slide .prev1{
    display: block;
}
/*slide2*/
/*slide3*/
#slide3:checked ~ .slide3{
    opacity: 1;
}
#slide3:checked ~ .next-slide .next1{
    display: block;
}
#slide3:checked ~ .prev-slide .prev2{
    display: block;
}
/*slide3*/
/*Show*/

@media screen and (min-width: 450px){
    .prev-slide label:hover, .next-slide label:hover{
        border: 1px solid #da4302;
        color: #da4302;
        transform: scale(1.5);
    }
    
    .next-slide label:hover div{
        animation-name: pilpilnext;
        animation-duration: 600ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
    
    .prev-slide label:hover div{
        animation-name: pilpilprev;
        animation-duration: 600ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.styleBox{
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #357376;
    height: 300px;
    width: 100%;
}
.styleBox2{
    position: absolute;
    bottom: -10px;
    left: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: #6ba8a9;
    height: 200px;
    width: 100%;
}

.trekant{
    width: 100%;
    height: 10vw;
    position: absolute;
    left: 0;
    bottom: 0;
}
.trekant1{
    width: 100%;
    height: 10vw;
    position: absolute;
    left: 0;
    bottom: 0;
}