.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.scroll-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;

    scroll-behavior: smooth;

    scroll-snap-type: x proximity; /* Chrome Canary */
    scroll-snap-type: proximity; /* Firefox */
    -ms-scroll-snap-type: proximity; /* IE/Edge */
    -webkit-scroll-snap-type: proximity; /* Safari */
    -webkit-overflow-scrolling: touch; /* important for iOS */
}

.slide {
    position: relative;
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    padding: 0;
    margin-top: 0vh;

    z-index: 6;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    scroll-snap-align: center; /* latest (Chrome 69+) */
}


.scroll-wrap::-webkit-scrollbar{
    display: none;
}

.slide-img img{
    height: 40vh;
}


.slide-text{
    width: 60vw;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.slide-text h2{
    text-align: center;
    margin: 0;
    display: none;
}

.m-header{
    display: block;
}

.next{
    position: absolute;
    top: 30vh;
    right: 10%;
}

.prev{
    position: absolute;
    top: 30vh;
    left: 10%;
}

.next, .prev{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 900px){
    .m-header{
        display: none;
    }

    .slide-text h2{
        display: block;
    }

    .scroll-wrap{
        scroll-snap-type: mandatory;
        scroll-snap-type: x mandatory;
    }
    
    .slide{
        width: 50vw;
        flex-direction: row;
        padding: 0 25vw;
        justify-content: center;
    }

    .slide-img{
        margin: 0;
    }

    .slide-text{
        width: 20vw;
        max-width: 20vw;

        margin-left: 5rem;
        font-size: 20px;
        align-items: flex-start;
    }

    .slide-img img{
        height: 70vh;
    }

    .next, .prev{
        top: 40vh;
        font-size: 30px;
    }

    .trekant{
        height: 15vw;
    }
    .trekant1{
        height: 15vw;
    }
}

.trekant {
    width: 100%;
    height: 20vw;
    position: absolute;
    max-height: 20vw;
    left: 0;
    top: -20vw;
    vertical-align: top;
}
.trekant1 {
    width: 100%;
    position: absolute;
    height: 20vw;
    max-height: 20vw;
    top: -20vw;
    left: 0;
    vertical-align: top;
}