.section1{
    margin: 0 auto;
    height: 100vh;
    width: 70%;
    background-color: crimson;
    color: white;
    display: grid;
    place-items: center;
}

.section2{
    margin: 0 auto;
    height: 100vh;
    width: 70%;
    background-color: cornflowerblue;
    color: white;
    display: grid;
    place-items: center;
}

.section3{
    margin: 0 auto;
    height: 100vh;
    width: 70%;
    background-color: goldenrod;
    color: white;
    display: grid;
    place-items: center;
}