.section1{
    margin: 0 auto;
    height: 100vh;
    width: 70%;
    background-color: crimson;
    color: white;
    display: grid;
    place-items: center;
}

.section2{
    margin: 0 auto;
    height: 100vh;
    width: 70%;
    background-color: cornflowerblue;
    color: white;
    display: grid;
    place-items: center;
}

.section3{
    margin: 0 auto;
    height: 100vh;
    width: 70%;
    background-color: goldenrod;
    color: white;
    display: grid;
    place-items: center;
}

.sideNav{
    display: grid;
    position: fixed;
    right: 0;
    top: 50vh;
    width: 15%;
    place-items: center;
}

.sideCircle{
    text-decoration: none;
    color: black;

    height: 20px;
    width: 20px;
    padding: .1rem;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
}

.sideCircle:nth-child(n+2){
    height: 10px;
    width: 10px;
}

.sidePole{
    height: 20px;
    width: 3px;
    background-color: black;
}

.sideCircle:hover{
    padding: .25rem;
    transition: padding 100ms ease-in-out;
}