body {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #222;
}
.footer-container{
    position: relative;
    width: 76%;
    left: 12%;
    bottom: 0;
<<<<<<< HEAD
    margin-top: 0px;
=======
>>>>>>> 258568c0a73a366c2924dab58beca6aefe2d0435
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    font: 16px sans-serif Arial;
}

.googlePlay, .appStore{
    width: 150px;
    padding-bottom: 10px;
    cursor: pointer;
}

.footer-left, .footer-center, .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-right,.footer-left{
    width: 25%;
}
.footer-center{
    width: 45%;
}
.footer-left ul, .footer-center ul, .footer-right ul{
    padding-inline-start: 0;
    padding-left: 0;
    list-style: none;
}
.footer-links{
    color:  #FFFFFF;
    margin: 20px 0 15px;
    padding: 0;
}
.footer-links a{
    display: block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
.footer-links a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.topLink-Footer{
    color: lightgray;
}
.footer-copyRight p {
    border-bottom: solid 2px #FFFFFF;
    border-top: solid 2px #FFFFFF;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}
@media only screen and (max-width: 880px) {
    .footer-container{
        font: bold 14px sans-serif;
        padding-left: 0;
    }
    .footer-left, .footer-center, .footer-right{
        width: 100%;
        text-align: center;
    }
    .footer-center{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .footer-container ul{
        padding-inline-start: 0;
    }

    .footer-left, .footer-center, .footer-right{
        display: block;
    }
}