.background{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.background-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 50%;

    background-color: #a0cc78;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.background-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 50%;

    background-color: #207561;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    height: 50vh;
    width: 70%;
}

.image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    height: 50vh;
    width: 70%;
}

.image-content img{
    width: 100%;
}

