@-webkit-keyframes animation-app2{
    0%{
        opacity: 0;
    }
    25%, 50%{
        opacity: 1;
    }

    75%, 100%{
        opacity: 0;
    }
}

@keyframes animation-app2{
    0%{
        opacity: 0;
    }
    25%, 50%{
        opacity: 1;
    }

    75%, 100%{
        opacity: 0;
    }
}

@-webkit-keyframes animation-app3{
    0%, 25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

    75%, 100%{
        opacity: 0;
    }
}

@keyframes animation-app3{
    0%, 25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

    75%, 100%{
        opacity: 0;
    }
}

.main-content{ 
    height: 100vh;
}

.span{
    height: 20px; 
    width: 100%; 
    background-color: white;
}

.mid-content{
    display: flex;
    flex-direction: row;
    margin-top: -7px;
    height: 80vh;
    width: 100%;
    background-color: #a0cc78;
}

@media only screen and (max-width: 860px){
    .main-content{
        margin-bottom: 350px;
    }
    .mid-content{
        display: flex;
        flex-direction: column;
        height: 130%;
    }

    .tekst{
        flex: unset;
    }

    .image{
        flex: unset;
    }
    
    .image{
        background-color:#c9e9ab;
    }
}

.tekst{
    flex: 1;
    padding: 1px 50px;
    align-content: center;
    align-items: center;
    font-size: 4vh;
    color: white;
}

.tekst p{
    margin-bottom: 25px;
}

.tekst img{
    height: 50px;
}


.image{
    flex: 1;
}

.image img{
    position: absolute;
    top: 19%;
    right: 110px;

    height: 75vh;
}

@media only screen and (max-width: 860px){

    .tekst{
        padding: 1px 30px;
    }
    .mid-content{
        height: 140%;
    }
    .image{ 
        position: relative;
        margin-bottom: 20%;

    }
    .image img{
        position: absolute;

        left: 34%;
        top: 2%;

        height: 60vh;
    }
}

@media only screen and (max-width: 630px){
    .image{
        margin-bottom:10% ;
    }
    .image img{
        left: 30%;
        height:57vh;
    }
}

@media only screen and (max-width: 550px){
    .mid-content{
        height: 140% !important;
    }
    .image img{
        left: 26%;
    }
}

@media only screen and (max-width: 466px){

    .tekst img{
        top: 2%;
        height: 30px;
    }

    .image img{
        height: 60vh;
    }

}

@media only screen and (max-width: 412px){
    .tekst img{
        left: 20%;
    }

}

@media only screen and (max-width: 370px){
    .image{
        margin-bottom: -5%;
    }
    .image img{
        height: 55vh;
    }
}

@media only screen and (max-width: 340px){
    .image img{
        height: 50vh;
        left: 17%;
    }

}

@media only screen and (max-width: 320px){
    .image{
        margin-bottom: -19%;
    }

    .image img{
        top: 15%;
        left: 28%;
    }
}


img[src="./img/app2.png"]{
    opacity: 0;

    animation-name: animation-app2;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

img[src="./img/app3.png"]{
    opacity: 0;

    animation-name: animation-app3;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal
}