@import url("navigation-bar-style.css");
@import url("sideNavigation.css");
@import url("footer.css");
@import url("sources-style.css");

@font-face {
    /*font-family: 'Titillium', sans-serif;*/
    font-family: "Computer Modern";
    src: url("../font-family/Bulo/Bulo Hair Dark.otf");
}

@font-face{
    font-family: "bulo";
    src: url("../font-family/Bulo/Bulo Hair Dark.otf");
}

*, *::before, *::after{
    offset: 0;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "bulo", "Computer Modern", sans-serif;
    scroll-behavior: smooth;
    background-color: white;
    font-weight: 600;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
}

header{
    position: relative;
    padding-top: 0;
    width: 90%;
    margin: 0 auto 0 auto;
    z-index: 299;
}

@media screen and (min-width: 800px){
    header{
        position: relative;
        padding-top: 0;
        width: 70%;
        margin: 0 auto 0 auto;
        z-index: 299;
    }
}
