@import url("navigation-bar-style.css");
@import url("sideNavigation.css");
@import url("footer.css");
@import url("sources-style.css");

@font-face {
    /*font-family: 'Titillium', sans-serif;*/

    font-family: "Computer Modern";
    src: url("../font-family/cmunss.otf");



}

@font-face{
    font-family: "bulo";
    src: url("../font-family/Bulo/Bulo Hair Dark.otf");
}

:root{
    --nav-color: white;
    --side-nav-color: black;
    --side-nav-radius: 10px;
    --side-nav-poleHeight: 20px;
}

*, *::before, *::after{
    offset: 0;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "bulo", "Computer Modern", sans-serif;
    font-weight: bolder;
    scroll-behavior: smooth;
    background-color: white;
}

header{
    position: relative;
    padding-top: 0;
    width: 90%;
    margin: 0 auto 0 auto;
    z-index: 299;
}

.content{
    min-height: 100%;
    margin-bottom: -50px;
}

@media screen and (min-width: 800px){
    header{
        position: relative;
        padding-top: 0;
        width: 70%;
        margin: 0 auto 0 auto;
        z-index: 299;
    }
}