@import url("topNavigation.css");

:root{
    --nav-color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif, Georgia;
    background-color: chocolate;
}

header{
    width: 70%;
    margin: 0 auto 0 auto;
    filter: invert(100%);
}