:root{
    --nav-bg-color: white;
    --nav-font-color: #444444;
    --nav-hover-color: #da4302;
    --nav-font-size: 1.2rem;
    --nav-bar-height: calc(2*var(--nav-font-size));
    --nav-logo-height: 0rem;
    --animation-duration: 400ms;
}

.nav-fill{
    position: fixed;
    width: 100%;
    height: 53.6px;
    background-color: white;
    z-index: 1;

    transition: height 400ms ease-in-out;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.5);
}

nav{
    position: fixed;
    width: 100%;
    z-index: 2;
}

/*Header section*/
nav header{
    margin: 0;
    padding: 0;
    offset: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input[type="checkbox"]{
    display: none;
}

.logo img{
    height: 3rem;
}

nav header label{
    cursor: pointer;
}

.title{
    margin: 0 auto;
    font-size: 1.2rem;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.burger{
    padding: .5rem;
    padding-left: 30.65px;
}

.burger div{
    width: 30px;
    height: 2px;
    background-color: #444444;
}

.burger div:nth-child(1){
    transform: translateY(0px) rotate(0);
    transition: transform 400ms ease-in-out;
}

.burger div:nth-child(2){
    margin: 5px 0px;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.burger div:nth-child(3){
    transform: translateY(0px) rotate(0);
    transition: transform 400ms ease-in-out;
}

nav header label:hover .burger div{
    background-color: #da4302;
}
/*Header section*/

/*List of links section*/
nav ul{
    display: flex;
    flex-direction: column;

    offset: 0;
    margin: 0;
    padding: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul li{
    padding-left: .5rem;
    list-style: none;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

nav ul li a.active{
    text-decoration: underline overline;
}

nav ul li a:hover{
    color: #da4302;
}
/*List of links section*/

/*Onclick substitution*/
#dropdown:checked ~ nav ul{
    transform: scale(1,1);
}

#dropdown:checked ~ .nav-fill{
    height: 160px;
}

#dropdown:checked ~ nav header label .burger div:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

#dropdown:checked ~ nav header label .burger div:nth-child(2){
    opacity: 0;
}

#dropdown:checked ~ nav header label .burger div:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}
/*Onclick substitution*/

@media screen and (min-width: 600px){
    .nav-fill{
        height: 53.6px;
    }
    
    nav header{
        width: auto;
    }
    
    .title{
        display: none;
        margin: 0;
    }
    .burger{
        display: none;
    }

    nav{
        display: flex;
    }

    nav ul{
        flex-direction: row;
        align-items: center;
    }

    #dropdown:not(:checked) ~ nav ul{
        transform: scale(1,1);
    }

    #dropdown:checked ~ .nav-fill{
        height: 53.6px;
    }
}