:root{
    --nav-bg-color: white;
    --nav-font-color: #444444;
    --nav-hover-color: #da4302;
    --nav-font-size: 1.2rem;
    --nav-bar-height: calc(2*var(--nav-font-size));
    --nav-logo-height: 0rem;
    --animation-duration: 400ms;
}

.dropdown-on{
    display: none;
}

.nav-fill{
    position: fixed;
    width: 100%;
    height: 53.6px;
    z-index: 1;
    background-color: var(--nav-bg-color);
    transition: height var(--animation-duration) ease-in-out;

    box-shadow: 0px 5px 5px -5px rgba(0,0,0,.5);
}

nav{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.title{
    font-size: 22px;
    user-select: none;
}

.logo{
    height: 3rem;
}

.title{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.burger{
    margin-right: .5rem;
}

.burger div{
    width: 30px;
    height: 2px;
    background-color: var(--nav-font-color);
}

.burger div:nth-child(1){
    transform: translateY(0) rotate(0);
    transition: transform var(--animation-duration) ease-in-out;
}

.burger div:nth-child(2){
    margin: 5px 0;
    opacity: 1;
    transition: opacity var(--animation-duration) ease-in-out;
}

.burger div:nth-child(3){
    transform: translateY(0) rotate(0);
    transition: transform var(--animation-duration) ease-in-out;
}

nav header{
    background-color: var(--nav-bg-color);
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    grid-template-areas: 
    "logo title burger";
}

nav header a{
    grid-area: logo;
    justify-self: start;
    align-self: center;
}

nav header .title{
    grid-area: title;
    justify-self: center;
    align-self: center;
    color: var(--nav-font-color);
}

nav header label{
    grid-area: burger;
    justify-self: end;
    align-self: center;

    margin-right: 5%;
    cursor: pointer;
}

nav ul{
    display: flex;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1rem;
    padding: 0 .5rem;
    margin: 0;
    offset: 0;

    list-style: none;

    font-size: var(--nav-font-size);

    background-color: var(--nav-bg-color);
    transform-origin: top;
    transform: scale(1,0);
    transition: transform var(--animation-duration) ease-in-out;
}

nav ul li{
    margin: .1rem 0;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--nav-font-color);
}

nav ul li a:hover{
    color: var(--nav-hover-color);
}

nav ul li a.active{
    border-top: 1px solid var(--nav-font-color);
    border-bottom: 1px solid var(--nav-font-color);
}

nav ul li a.active:hover{
    border-top: 1px solid var(--nav-hover-color);
    border-bottom: 1px solid var(--nav-hover-color);
}

nav header label:hover .burger div{
    background-color: var(--nav-hover-color);
}

/*burger onclick js substitution*/
.dropdown-on:checked ~ nav ul{
    transform: scale(1,1);
}

.dropdown-on:checked ~ .nav-fill{
    height: 175.2px;
}

.dropdown-on:checked ~ nav header label .burger div:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.dropdown-on:checked ~ nav header label .burger div:nth-child(2){
    opacity: 0;
}

.dropdown-on:checked ~ nav header label .burger div:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

@media screen and (min-width: 600px){
    .burger{
        display: none;
    }

    nav{
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "logo links";
    }

    .nav-fill{
        height: 53.6px;
    }

    .title{
        display: none;
    }

    nav ul{
        display: none;
    }

    nav ul{
        grid-area: links;
        justify-self: start;
        align-self: center;
        display: flex;
        flex-direction: row;
    }

    nav ul li:nth-child(n+2){
        margin-left: 1rem;
    }

    .dropdown-on:not(:checked) ~ nav ul{
        transform: scale(1,1);
    }

    .dropdown-on:checked ~ .nav-fill{
        height: 53.6px;
    }
}