input[type="checkbox"]{
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    offset: 0;

    width: 100%;
    height: 48px;
    z-index: 10;

    transition: height 400ms ease-in-out;
}

nav::before{
    offset: 0;

    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 0;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,.5);
}

nav:focus{
    outline: none;
}

.logo{
    offset: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    z-index: 1;
}

.logo img{
    padding-left: 1rem;
    height: 3rem;
}

.logoD{
    display: none;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    height: 48px;
    width: 34%;

    z-index: 1;
}

nav label{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    width: 33%;
    height: 48px;
}

.burger{
    padding-right: 1rem;
    z-index: 1;
}

.burger div{
    width: 30px;
    height: 2px;
    background-color: #222222;
}

.burger div:nth-child(1){
    transform: translateY(0px) rotate(0);
    transition: transform 400ms ease-in-out;
}

.burger div:nth-child(2){
    margin: 5px 0px;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.burger div:nth-child(3){
    transform: translateY(0px) rotate(0);
    transition: transform 400ms ease-in-out;
}

nav ul{
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
}

.nav-links{
    offset: 0;

    font-size: 22px;
    width: 100%;
    height: auto;
    text-align: center;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out,
                height 400ms ease-in-out;
}

.nav-links li{
    margin: 0 auto 2rem auto;
    width: max-content;
}

.nav-links li a.active{
    border-bottom: 1px solid #1d4d4f;
}

.language{
    offset: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 100%;

    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out,
                height 400ms ease-in-out;
}

.language li{
    margin: 0 2rem;
    width: max-content;
}

.language li a{
    padding: 0 .5rem;
}

.language li a.active{
    border: 1px solid #e5dfdf;
    border-radius: 3px;
    padding-bottom: 2.5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
}

#dropdown:checked ~ body{
    overflow: hidden;
}

#dropdown:checked ~ nav{
    height: 100%;
}

#dropdown:checked ~ nav .nav-links{
    transform: scale(1,1);
}

#dropdown:checked ~ nav .language{
    height: auto;
    box-shadow: none;
    transform: scale(1,1);
}

#dropdown:checked ~ nav .burger div:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

#dropdown:checked ~ nav .burger div:nth-child(2){
    opacity: 0;
}

#dropdown:checked ~ nav .burger div:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

@media screen and (min-width: 860px){
    .logoM{
        display: none;
    }

    .logoD{
        display: block;
    }

    nav label{
        display: none;
    }
    .title{
        display: none;
    }

    .logo{
        width: 275px;
    }
    nav{
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
    }

    .nav-links{
        width: 820px;

        offset: 0;
        
        display: flex;
        flex-direction: row;
        margin-left: auto;

        border-right: 1px solid #e5dfdf;
    }

    .nav-links li{
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .language{
        height: autO;
        offset: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        width: 281px;
    }

    .language li a{
        padding: 0 .5rem;
    }

    #dropdown:checked ~ nav{
        height: 48px;
    }

    #dropdown:not(:checked) ~ nav .nav-links{
        transform: scale(1,1);
    }
    #dropdown:not(:checked) ~ nav .language{
        transform: scale(1,1);
    }

    .nav-links li a:hover{
        color: #da4302;
    }

    .nav-links li a.active:hover{
        border-bottom: 1px solid #da4302;
    }

    .language li a:hover{
        color: #da4302;
    }

    nav label:hover .burger div{
        background-color: #da4302;
    }

}