body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.ourTeam{
    position: relative;
    top: 12%;
    left: 15%;
    width: 80%;
    margin-bottom: 10%;
}

.team-left,.team-center,.team-right{
    width: 30%;
    vertical-align: top;
    display: inline-block;
}
.team-center{
    width: 35%;
}
.ourTeam img{
    width: 100%;
}
.studie{
    color: gray;
    font-size: 17px;
}
.member{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 300px;
    text-align: center;
}
.btnContact{
    width: 100%;
    background-color: #222;
    color: #FFFFFF;
    height: 30px;
    cursor: pointer;
}
.btnContact a{
    text-decoration: none;
    color: #FFFFFF;
}
.btnContact a:visited{
    text-decoration: none;
}


@media only screen and (max-width: 880px) {
    .ourTeam ul{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-template-areas:
                "member1 member2"
                "member3 member4"
                " member5 member6";
    }
}
@media only screen and (max-width: 500px) {
    .ourTeam ul{
        grid-template-columns: 1fr;
        width: 100%;
        grid-template-areas:
                "member1"
                "member2"
                "member3"
                "member4"
                " member5"
                "member6";
    }
}