body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.ourTeam{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 12%;
    left: 5%;
    width: 90%;
    margin-bottom: 10%;
}

.ourTeam img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.study{
    color: gray;
    font-size: 17px;
}
.member1,.member2,.member3,.member4,.member5,.member6{
    box-shadow: 0 4px 8px 0 rgba(0, 0,0,0.7);
    width: 25%;
    max-width: 25%;
    text-align: center;
    margin: 3% 4%;
}
.ourTeam h1{
    font-size: 18px;
}
.btnContact{
    position: relative;
    width: 100%;
    background-color: #222;
    color: #FFFFFF;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 20px;
}

.btnContact:hover{
    background-color: gray;
}
.school{
    padding-bottom: 20px;
}
.ourTeam p{
    margin: 0;

}
.ourTeam a{
    text-decoration: none;
    color: #FFFFFF;
}

.btnContact a:visited{
    text-decoration: none;
}
@media only screen and (max-width: 1425px) {
    .ourTeam{
        left: 8%;
    }
    .member1,.member2,.member3,.member4,.member5,.member6{
        width: 25%;
        margin: 2.5% 3%;
        max-width: 25%;
    }
    .ourTeam h1{
        font-size: 22px;
    }
}
@media only screen and (max-width: 900px) {
    .ourTeam{
        top: 10%;
        left: 5%;
    }
    .member1,.member2,.member3,.member4,.member5,.member6{
        margin: 5% 5%;
        width: 40%;
        max-width: 40%;
    }
}
@media only screen and (max-width: 550px) {
    .ourTeam{
        left: 6%;
        top: 12%;
        margin-bottom: 30%;
    }
    .member1,.member2,.member3,.member4,.member5,.member6{
        margin: 3% 3%;
        width: 43%;
        max-width: 43%;
    }
    .ourTeam h1{
        font-size: 16px;
    }
    .btnContact p{
        font-size: 16px;
    }
}