.container{
    display: flex;
    flex-flow: row wrap;
}
.content{
    flex: 3;
    margin-left: 15%;
    margin-right: 5%;
}
.content h1{
    text-align: center;
    font-size: 5vw;
    
}
.content p{
    font-size: 25px;
}
.sidebar{
    flex: 1;
    font-weight: 700; 
    font-size: 20px;
    margin-left: 10px;
    margin-top: 7%; 
    position: sticky;
    position: -webkit-sticky;  /*for safari*/
    top: 0;
    height: 10vw;
    padding-top: 30px;
    
}
.sidebar a{
    padding: 0;
    text-decoration: none;
    color: black;
}
#probImg{
    width: 100%;
    height: 35vw;
}
