.references{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.cite{
    text-decoration: none;
    color: blue;
}

.references li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 1.5em;

    margin-left: 2em;
    text-indent: -2em;
}

.references li a{
    color: blue;
    word-break: break-all;
}