/*Side nav figures*/
.sideNav{
    display: grid;
    position: fixed;
    right: 0;
    top: 50%;
    width: 15%;
    place-items: center;
}

.sideCircle{
    display: grid;
    place-items: center;

    text-decoration: none;
    color: black;

    height: calc(2*var(--side-nav-radius));
    width: calc(2*var(--side-nav-radius));
    padding: .1rem;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 50%;
}

.sideCircle:nth-child(n+2){
    display: grid;
    place-items: center;
    font-size: 10px;

    height: var(--side-nav-radius);
    width: var(--side-nav-radius);
}

.sidePole{
    height: var(--side-nav-poleHeight);
    width: 3px;
    background-color: black;
}

.sideCircle:hover{
    font-size: 80%;
    padding: .25rem;
    transition: all 100ms ease-in-out;
}
/*Side nav figures*/
/*----------------*/
/*Side nav text   */
.navSecTop::before{
    content: 'To top';
    position: absolute;
    transform-origin: right;
    transform: scale(0,1);
    right: 60%;
}
.navSecTop:hover::before{
    top: 0;
    transform: scale(1,1);
    transition: transform 100ms ease-in;
}

.navSec1::before{
    content: 'Section 1';
    position: absolute;
    transform-origin: right;
    transform: scale(0,1);
    right: 60%;
}
.navSec1:hover::before{
    top: 0;
    transform: scale(1,1);
    transition: transform 100ms ease-in;
}

.navSec2::before{
    content: 'Section 2';
    position: absolute;
    transform-origin: right;
    transform: scale(0,1);
    right: 60%;
}
.navSec2:hover::before{
    top: 0;
    transform: scale(1,1);
    transition: transform 100ms ease-in;
}

.navSec3::before{
    content: 'Section 3';
    position: absolute;
    transform-origin: right;
    transform: scale(0,1);
    right: 60%;
}
.navSec3:hover::before{
    top: 0;
    transform: scale(1,1);
    transition: transform 100ms ease-in;
}
/*Side nav text   */