.footer-container{
    position: relative;
    width: 100%;
    background-color: #228B22;
    bottom: 0;
    margin-top: 50px;

    background-color: gray;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    font: bold 16px sans-serif Arial;
    padding: 55px 50px;
}
.footerMedGrid{
    padding: 5% 10%;
    width: 70%;
    left: 10%;


}
.footer-item1{grid-area: klimaPluss}
.footer-item2{grid-area: ourTeam}
.footer-item3{grid-area: FAQ}
.footer-item4{grid-area: sources}
.footer-item5{grid-area: support}
.footer-item6{grid-area: phoneNumber}
.footer-item7{grid-area: mail}
.footer-item8{grid-area: googlePlay}
.footer-item9{grid-area: appStore}

.footer-item8, .footer-item9{
    width: 150px;
}

.footerMedGrid h3{
    color:  #000000;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.footerMedGrid h3 span{
    color:  #207561;
}
.footerMedGrid a{
    display: block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footerMedGrid ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 2fr 1fr;
    vertical-align: top;


    grid-template-areas:
            "klimaPluss klimaPluss klimaPluss "
            "ourTeam support googlePlay"
            "FAQ phoneNumber ."
            "sources mail appStore";
}