.container-sources{
    width: 80%;
    margin-left: 10%;
    padding: 100px 0;
}
.container-sources ul{
    padding: 0;
    list-style-type: disc;
}

h2{
    font-size: 30px;
}
span{
    font-style: italic;
}