.container-sources{
    width: 80%;
    margin-left: 10%;
    padding: 100px 0;
}
.container-sources ul, .references ul{
    padding: 0;
    list-style-position: outside;
}

h2{
    font-size: 3em;
    color: #357376;
}
span{
    font-style: italic;
}
.references{
    margin-block-start: 10px;
    margin-block-end: 0;
    padding-inline-start: 10px;
}

.cite{
    text-decoration: none;
    color: blue;
}

.references li, .container-sources li {
    font-size: 19px;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    margin-left: 2em;
    text-indent: -2em;
}

.references li a{
    color: blue;
    word-break: break-all;
}
.trekant {
    width: 100%;
    height: 50px;
    position: absolute;
    max-height: 20vw;
    left: 0;
    top: -40px;
    vertical-align: top;
}
.trekant1 {
    width: 100%;
    position: absolute;
    height: 40px;
    max-height: 20vw;
    top: -30px;
    left: 0;
    vertical-align: top;
}
