nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 90%;
    margin: 0 auto 0 auto;
    z-index: 100000;
    letter-spacing: .05em;
}

.burger-activate{
    display: none;
}

nav ul{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow: hidden;
    margin: 0;
}

nav ul li:nth-last-child(n+1){
    list-style: none;
    grid-column: 2/2;
    align-self: flex-start;
    justify-self: flex-start;

    opacity: 0;
    transform: translateX(200%);
    transition: opacity 250ms ease-in, transform 500ms ease-in-out;
    z-index: -1;
}


nav ul li:last-child{
    list-style: none;
    grid-column: 1/2;
    grid-row: 1/10;
    justify-self: flex-start;
    align-self: center;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--nav-color);
    padding: 0rem .5rem;
}

nav ul li:nth-last-child(n+2){
    color: black;
    transition: all 150ms ease-in-out;
}
nav ul li:nth-last-child(n+2):hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 150ms ease-in-out;
}

nav ul li.active{
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    pointer-events: none;
}

nav ul li a.active{
    color: black;
    pointer-events: none;
}

.burger{
    cursor: pointer;
}

.burger div{
    height: 2px;
    width: 40px;
    background-color: var(--nav-color);
    margin-bottom: 7px;
    grid-column: 1/3;
    transition: transform 500ms ease-in-out;
}

.topLine, .botLine{
    background-color: var(--nav-color);
    height: 1px;
    width: 100%;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform 500ms ease-in-out;
    display: none;
}

/*Replacing js classList.toggle function*/
.burger-activate:checked ~ nav ul li{
    opacity: 1;
    transform: translate(0);
    transition: opacity 150ms ease-out, transform 500ms ease-in-out;
    z-index: 1;
}

.burger-activate:checked ~ nav div.topLine{
    transform: scale(1,1);
    transition: transform 500ms ease-in-out;
}

.burger-activate:checked ~ nav div.botLine{
    transform: scale(1,1);
    transition: transform 500ms ease-in-out;
}

.burger-activate:checked ~ nav ul li .bar1{
    transform:translateY(10px) rotate(45deg);
    transition: transform 500ms ease-in-out;

}

.burger-activate:checked ~ nav ul li .bar2{
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.burger-activate:checked ~ nav ul li .bar3{
    transform: translateY(-8px) rotate(-45deg);
    transition: transform 500ms ease-in-out;
}

/*Upscaling for desktop*/
@media screen and (min-width: 800px){
    .burger{
        display: none;
    }

    .burger-activate{
        display: none;
    }

    nav{
        width: 70%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    nav ul li a:nth-child(2){
        padding: 0 4em;
    }

    nav ul li a.active{
        padding-bottom: 1em;
    }

    nav ul li:nth-child(n+2){
        padding: 0.5em 1em;
    }

    nav ul li:first-child{
        padding: 0.5em 1em;
    }

    nav ul li:hover{
        background-color: rgba(255, 255, 255, 0.5);
        transition: all 200ms ease-in-out;
    }

    /*fixing disappearance on bigger screens*/
    .topLine, .botLine{
        transform-origin: left;
    }

    .burger-activate:not(:checked) ~ nav ul li{
        opacity: 1;
        transform: translate(0);
        transition: opacity 150ms ease-out, transform 500ms ease-in-out;
        z-index: 1;
    }

    .burger-activate:not(:checked) ~ nav div.topLine{
        transform: scale(1,1);
        transition: transform 500ms ease-in-out;
    }
    
    .burger-activate:not(:checked) ~ nav div.botLine{
        transform: scale(1,1);
        transition: transform 500ms ease-in-out;
    }
}