body{color:#fff; font-family:arial; font-weight:bold; font-size:40px; }
.main-container{ max-width:600px; margin:0 auto; border:solid 10px green; padding:10px; margin-top:40px;}
.main-container *{padding:10px;background:#aaa; border:dashed 5px #000;}

.main-header{
    height:50px; background:#aaa; border-color:red;
}
.main-content{
    min-height:1000px;
}

.main-header{position:-webkit-sticky; position:sticky; top:0;}